<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maa Events</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />

  </head>

  <body class="container">
    <h1 class="jumbotron">Welcome to Maa Events</h1>
    <div class="text-center">
      <a class="btn btn-primary" href = "{% url 'login:register' %}">Register</a>
      <a class="btn btn-primary" href = "{% url 'login:viewdata' %}">Admin Login</a>
    </div>
  </body>
</html>
